.rev-p {
	color: #848484;
}

.rev-p_secondary {

}

._rev--card {
	margin-top: 2em;
}


.rev--admin-settings-container {
	margin-right: 16px;
}


.rev--page-heading {
	margin-bottom: 24px !important;
}




@font-face {
  font-family: "Inter";
  src: url("./../../public/rev/fonts/InterVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
